.carousel-container{
    height: 650px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar
    {
      display: none;
    }
}

.carousel-card{
    position: relative;
}

.carousel-img-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  
  & img{
    z-index: -1;
    position: relative;
    width: 100%;
  }
} 

.section-title{
    width: 1200px;
}