*{
    box-sizing: border-box;
}

.card-container{
	box-sizing: border-box;
  	overflow:hidden;
	position: relative;
	min-width: 360px;
	min-height: 200px;
    padding-left: 10px;
	border-radius: 5px;
	color: white;
	z-index: 1;
	text-align: left;
  
	transition: all 0.2s ease-in-out;
	
	&:hover{
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
	}
}

.img-container{
	position: absolute;	
  	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  	background: var(--ShowCardGradient);
  
  & img{
	position: absolute;
	z-index: -1;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
	object-fit: cover;
	display: block;
	transform: translateX(0.5px);
  }
}


.info-container{
	position: absolute;
	margin-top: 15%;
	width: 90%;
	height: 50%;
  
	
	& .show-title{
		margin-block: 0;
		font-size: 1.5em;
		line-height: 24px;
	}
	
	& .time-stamps span{
		font-size: 0.8em;
    	font-weight: 600;
		color: #ffffffd1;
	}
	
	& .show-description{
		margin-block: 0.8em;
		font-size: 0.8em;
		font-weight: 400;
		color: #ffffffb1;

		& .read-more{
			color: #89CFF0;
			cursor: pointer;
		}

		& .cross{
            position: absolute;
            right: 4%;
            top: 11%;
            height: 20px;
            width: 20px;
            background: transparent;
            visibility: hidden;
            cursor: pointer;

			&::before{
				content: "";
				position: absolute;
				right: 45%;
				top: 0;
				height: 20px;
				width: 2px;
				background: white;
				transform: rotate(315deg);
			}

			&::after{
				content: "";
				position: absolute;
				right: 45%;
				top: 0;
				height: 20px;
				width: 2px;
				background: white;
				transform: rotate(45deg);
			}
		}


		& .littleTag{
			position: absolute;
			top: 157px;
			
			line-height: 16px;
			border: 2px solid;
			border-radius: 5px;
			padding: 3px;
			text-align: center;
			font-size: 12px;
			font-weight: 600;
			color: var(--accentColor);
			border-color: var(--accentColor);
			visibility: hidden;

			&#S{
				transform: translateX(40px);
			  }
  
			  &#AD{
				  transform: translateX(80px);
			  }
			  
			  &#SL{
				  transform: translateX(120px);
			  }
  
  
			  &.disabled{
				  color:rgba(255, 255, 255, 0.4);
				  border-color: rgba(255, 255, 255, 0.4);
			  }
			  
			}
			
			

		&.expanded{
			position: absolute;
            top: 50%;
            left: 50%;
            color: white;
            width: 361px;
            padding: 50px;
            height: 200px;
            transform: translate(-48%, -60%);
            background: rgba(0, 0, 0, 0.8);

			& .cross{
				visibility: visible;
			}

			& .littleTag{
				visibility: visible;
			}
		}
	}
}

.add-button{
	appearance: none;
	position: absolute;
	right: 4%;
	bottom: 11%;
	border: 1px solid white;
	border-radius: 3px;
	background: transparent;
	color: white;
	padding: 5px 10px;
	font-size: 0.8em;
	cursor: pointer;	
	line-height: 12px;	
	transition: none;
	display: flex;
		align-items: center;
		justify-content: center;
	
	&::before{
		content: attr(tooltip-text);
		height: 24px;
		font-size: 0.8em;
		font-weight: 600;
		position: absolute;
		transform: translate(0%, -110%);
		background: white;
		border-radius: 5px;
		color: black;
		padding: 5px;
		letter-spacing: 0px;
		
		visibility: hidden;
		opacity: 0;
		
		transition: all 0.2s ease-in-out;
	}
	
	&::after{
		content: "";
		position: absolute;
		transform: translate(0%, -70%);
		border: 8px solid;
		border-color: white transparent transparent transparent;
		visibility: hidden;
		opacity: 0;
		
		transition: all 0.2s ease-in-out;

	}

	&:hover{
		color: var(--accentColor);

		&::before, &::after{
			visibility: visible;
			opacity: 1;
			transform: translate(0%, -125%);
		}

		&::after{
			transform: translate(0%, -120%);
		}
	}
}
