.background-modal{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100vw;
    z-index: 1000;
}

.modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    min-height: 400px;
    background-color: var(--accentColor);
    border-radius: 20px;
    padding: 2em;
    z-index: 1001;

    & .close-bttn{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        right: 20px;
        rotate: 45deg;
        background-color: transparent;
        border: none;
        cursor: pointer;
  
            &:before{
            content: "";
            position: absolute;
            height: 15px;
            width: 3px;
            border-radius: 2px;
            background:white;
            transform: translate(10px, 4px);
            }
            
            &:after{
            content: "";
            position: absolute;
            width: 15px;
            height: 3px;
            border-radius: 2px;
            background:white;
            transform: translate(4px, 10px);
    
            }
      }
}

@media only screen and (max-width: 430px) {

    .modal-container{
        padding: 2em;
        min-width: 100%;
        min-height: 100%;
        border-radius: 0;

        & .title{
            padding-left: 0;
            margin-block-end: 1.3em;
            font-size: 3em;
        }

        & p{
            font-size: 1.2em;
            text-align: center;
        }
    }
}