.content-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(340px, 15%, 400px), 1fr));
    gap: 7px;
    width: 100%;
    padding-inline: 2em;
    min-height: 100vh;
}

#section-page{
    padding-top: 4em
}