.page-container{
    width: 100vw;
    padding-bottom: 3em;
}

.show-recommnedation{
  & .search-card-container{
    margin-left: 2em;
  }
}

.grid-container{
    padding-inline: 2em;
    display: flex;
    flex-direction: row;
    overflow: scroll hidden;
    gap: 10px;
    &::-webkit-scrollbar
    {
      display: none;
    }
}

@media only screen and (max-width: 430px) {
  .grid-container{
    padding-inline: 0;
  }

  .grid-container#mainPage{
    padding-inline: 2em;
  }
}