.page-container{
    width: 100vw;
}

.grid-container{
    padding-inline: 2em;
    display: flex;
    flex-direction: row;
    overflow: scroll hidden;
    gap: 10px;
    &::-webkit-scrollbar
    {
      display: none;
    }
}